<footer class="footer bg-dark py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center text-lg-left my-auto  wow zoomIn">
        <p class="text-muted small mb-4 mb-lg-0">© Eraky 2020. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 text-center text-lg-right my-auto  wow zoomIn">
        <ul class="list-inline mb-0">

          <li class="list-inline-item mr3">
            <a href="https://github.com/AhmedEraky" target="_blank">
              <fa-icon  [icon]="['fab', 'github']" size="2x" ></fa-icon>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="https://www.facebook.com/zezote.ze.3" target="_blank">
              <fa-icon [icon]="['fab', 'facebook']" size="2x" ></fa-icon>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="https://www.linkedin.com/in/ah-eraky/" target="_blank">
              <fa-icon  [icon]="['fab', 'linkedin']" size="2x" ></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
