<!--
<section>
  <div class="container-fluid">
    <div class="row bg-info justify-content-center align-items-center" style="height: 100vh">
      <div class="col-sm-10 text-center">
        <h2 class="text-warning display-2">Hello I'm Eraky</h2>
        <h1 class="text-white font-weight-bold">Software Engineer</h1>

        <h2 class="font-weight-light font-italic text-light">I have skills in Java/Spring & Angular</h2>
        <a class="btn btn-danger col-md-4 m-2 text-nowrap" href="#">View Projects</a>
        <a class="btn btn-danger col-md-4 m-2 text-nowrap" href="#">View Projects</a>

      </div>
    </div>
  </div>
</section>
-->

<section>
  <div class="container-fluid">
    <div class="row bg-info justify-content-center align-items-center" style="height: 100vh">
      <div class="col-sm-10 text-center">
        <h2 class="text-warning display-2">Hello I'm Eraky</h2>
        <h1 class="text-white font-weight-bold">Software Engineer</h1>
        <a href="#" class="btn btn-warning btn-lg px-5 m-3 ">Resume</a>
        <a href="#" class="btn btn-danger btn-lg px-5 m-3" >Projects</a>
      </div>
    </div>
  </div>
</section>
