<section class="pt-5">

  <div class="container-fluid">
    <div class="row">
      <div class="col text-center mb-3">
        <h1 class="text-warning">Projects</h1>
      </div>
    </div>



    <div class="row px-5 pb-4">
      <div *ngFor="let project of (projects$ | async)" class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card d-flex flex-column">

          <img class="card-img-top" [src]="project.image" alt="...">

          <div class="card-block flex-grow-1">
            <h4 class="card-title mt-3">{{project.name}}</h4>
            <div class="meta">
              <a>{{project.type}}</a>
            </div>
            <div class="card-text">
              {{project.description}}
            </div>
          </div>

          <div class="card-footer bg-dark d-flex flex-column flex-md-row  justify-content-between">
            <div class="mb-2">
              <a *ngIf="project.demo != null" [href]="project.demo" target="_blank" class="btn btn-secondary text-white btn-sm">Demo</a>
            </div>
            <div class="mb-2">
              <a *ngIf="project.code != null" [href]="project.code" target="_blank" class="btn btn-secondary text-white btn-sm">Code</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
