<section class="bg-dark">
  <div class="mx-3 text-white d-flex flex-column flex-md-row text-center justify-content-start">
    <div class="m-2">
      <fa-icon [icon]="['fas', 'envelope']" class="mr-2"></fa-icon>
      <a class="text-white" href = "mailto: abc@example.com">ah.mo.era@gmail.com</a>
    </div>
    <div class="m-2">
      <fa-icon [icon]="['fas', 'phone-volume']" class="mr-2"></fa-icon>
      <a class="text-white" href="tel:+201023319720">(+20) 102 331 9720</a>
    </div>
  </div>
</section>
