<section class="bg-light p-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center mb-3">
        <h1 class="text-warning display-2">Skills</h1>
        <p class="lead text-secondary">Random Text</p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-lg-4 col-sm-10 mx-auto mb-5">
        <fa-icon icon="desktop" size="6x" class="text-warning mb-3" ></fa-icon>
        <h1 class="text-secondary">Development</h1>
        <p class="text-muted my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, possimus beatae. Architecto vel, amet excepturi nisi quidem aliquid facilis in.</p>
        <a href="#" class="btn btn-outline-warning">Learn More</a>
      </div>
      <div class="col-lg-4 col-sm-10 mx-auto mb-5">
        <fa-icon icon="edit" size="6x" class="text-warning mb-3" ></fa-icon>
        <h1 class="text-secondary">Design</h1>
        <p class="text-muted my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, possimus beatae. Architecto vel, amet excepturi nisi quidem aliquid facilis in.</p>
        <a href="#" class="btn btn-outline-warning">Learn More</a>
      </div>
      <div class="col-lg-4 col-sm-10 mx-auto mb-5">
        <fa-icon icon="cogs" size="6x" class="text-warning mb-3" ></fa-icon>
        <h1 class="text-secondary">Creativity</h1>
        <p class="text-muted my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, possimus beatae. Architecto vel, amet excepturi nisi quidem aliquid facilis in.</p>
        <a href="#" class="btn btn-outline-warning">Learn More</a>
      </div>
    </div>
  </div>
</section>
